<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Website Monitor</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Website Monitor</a>
    </nav>
     
    <div class="container">
      {% for monitor in data %}
        <div class="row p-2">
          <div class="col">
            <div class="card">
                <div class="card-body">
                  <h4 class="card-title">{{monitor[1]}}</h4> <!-- website title -->
                  <p class="card-text">
                    Status: {{monitor[2]}} <!-- website status -->
                  </p>
                  <a href="{{monitor[3]}}" id="btn" class="btn btn-primary">Visit</a> <!-- website link-->
                </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">
      Add
    </button>
    
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <form class="form-inline p-3" method="POST">
            <input type="text" class="form-control mb-2 mr-sm-2" name="title" id="inlineFormInputName2" placeholder="Monitor Title">

            <div class="input-group mb-2 mr-sm-2">
              <input type="text" class="form-control" name="link" id="inlineFormInputGroupUsername2" placeholder="Link">
            </div>
          
            <button type="submit" class="btn btn-primary mb-2">Submit</button>

            {% for msg in get_flashed_messages() %}
              <p style="color: red">{{msg}}</p>
            {% endfor %}
          </form>
        </div>
      </div>
    </div>
</body>
</html>
